# Python
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Build
build/
dist/
*.egg-info/
.eggs/
wheels/
*.egg

# PyInstaller
*.spec

# Log
*.log
*.coverage
.coverage.*
.cache/
.pytest_cache/
.tox/
.nox/

# .env
.env
.venv/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter
.ipynb_checkpoints

# Cache
.mypy_cache/
.ruff_cache/
.pyre/
.pytype/
cython_debug/

# OS
.DS_Store
Thumbs.db
.vscode/
.idea/

.locks/
models--*/
vectorstore_data/
vectorstore_user_logs/